<template>
  <div class="home">
    <Busca />
  </div>
</template>

<script>
import Busca from "../components/Busca";
export default {
  name: "home",
  components: {
    Busca
  }
};
</script>

<style>
</style>
