<template>
  <div>
    <vue-slider ref="slider" v-model="value"></vue-slider>
  </div>
</template>
<script>
import vueSlider from "vue-slider-component";
export default {
  data() {
    return {
      value: 2
    };
  },
  components: {
    vueSlider
  }
};
</script>