<template>
  <div>
    <div class="container">
      <b-tabs content-class="mt-3">
        <b-tab title="Alquiler" active>
          <form id="app" @submit="checkForm" method="post" novalidate="true">
            <basic-select
              :options="propriedades.options"
              v-model="propriedades.selected"
              placeholder="Propriedades"
            ></basic-select>
            <b-input
              id="inline-form-input-name"
              class="mb-2 mr-sm-2 mb-sm-0"
              placeholder="Ingrese su búsqueda"
            ></b-input>
            <v-card flat color="transparent">
              <v-subheader>Precio</v-subheader>
              <v-card-text>
                <v-row>
                  <v-col class="px-4">
                    <v-range-slider
                      v-model="precio.range"
                      :max="precio.max"
                      :min="precio.min"
                      hide-details
                      class="align-center"
                    >
                      <template v-slot:prepend>
                        <v-text-field
                          :value="precio.range[0]"
                          class="mt-0 pt-0"
                          hide-details
                          single-line
                          type="number"
                          style="width: 60px"
                          @change="$set(precio.range, 0, $event)"
                        ></v-text-field>
                      </template>
                      <template v-slot:append>
                        <v-text-field
                          :value="precio.range[1]"
                          class="mt-0 pt-0"
                          hide-details
                          single-line
                          type="number"
                          style="width: 60px"
                          @change="$set(precio.range, 1, $event)"
                        ></v-text-field>
                      </template>
                    </v-range-slider>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>

            <v-card flat color="transparent">
              <v-subheader>M²</v-subheader>
              <v-card-text>
                <v-row>
                  <v-col class="px-4">
                    <v-range-slider
                      v-model="m2.range"
                      :max="m2.max"
                      :min="m2.min"
                      hide-details
                      class="align-center"
                    >
                      <template v-slot:prepend>
                        <v-text-field
                          :value="m2.range[0]"
                          class="mt-0 pt-0"
                          hide-details
                          single-line
                          type="number"
                          style="width: 60px"
                          @change="$set(m2.range, 0, $event)"
                        ></v-text-field>
                      </template>
                      <template v-slot:append>
                        <v-text-field
                          :value="m2.range[1]"
                          class="mt-0 pt-0"
                          hide-details
                          single-line
                          type="number"
                          style="width: 60px"
                          @change="$set(m2.range, 1, $event)"
                        ></v-text-field>
                      </template>
                    </v-range-slider>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
            <v-card flat color="transparent">
              <v-subheader>Recámaras</v-subheader>
              <v-card-text>
                <v-row>
                  <v-col class="px-4">
                    <v-range-slider
                      v-model="recamaras.range"
                      :max="recamaras.max"
                      :min="recamaras.min"
                      hide-details
                      class="align-center"
                    >
                      <template v-slot:prepend>
                        <v-text-field
                          :value="recamaras.range[0]"
                          class="mt-0 pt-0"
                          hide-details
                          single-line
                          type="number"
                          style="width: 60px"
                          @change="$set(recamaras.range, 0, $event)"
                        ></v-text-field>
                      </template>
                      <template v-slot:append>
                        <v-text-field
                          :value="recamaras.range[1]"
                          class="mt-0 pt-0"
                          hide-details
                          single-line
                          type="number"
                          style="width: 60px"
                          @change="$set(recamaras.range, 1, $event)"
                        ></v-text-field>
                      </template>
                    </v-range-slider>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
            <basic-select
              :options="ubicacion.options"
              v-model="ubicacion.selected"
              placeholder="Provincia"
            ></basic-select>
            <b-button
              v-on:click="`/ubicacion.options.selected`"
              type="submit"
              variant="primary"
            >Buscar</b-button>
          </form>
        </b-tab>
        <b-tab title="Venta">
          <form @submit="onSubmit" method="post">
            <b-form-select v-model="propriedades.selected" :options="propriedades.options"></b-form-select>
            <b-input
              id="inline-form-input-name"
              class="mb-2 mr-sm-2 mb-sm-0"
              placeholder="Ingrese su búsqueda"
            ></b-input>
            <v-card flat color="transparent">
              <v-subheader>Precio</v-subheader>
              <v-card-text>
                <v-row>
                  <v-col class="px-4">
                    <v-range-slider
                      v-model="precio.range"
                      :max="precio.max"
                      :min="precio.min"
                      hide-details
                      class="align-center"
                    >
                      <template v-slot:prepend>
                        <v-text-field
                          :value="precio.range[0]"
                          class="mt-0 pt-0"
                          hide-details
                          single-line
                          type="number"
                          style="width: 60px"
                          @change="$set(precio.range, 0, $event)"
                        ></v-text-field>
                      </template>
                      <template v-slot:append>
                        <v-text-field
                          :value="precio.range[1]"
                          class="mt-0 pt-0"
                          hide-details
                          single-line
                          type="number"
                          style="width: 60px"
                          @change="$set(precio.range, 1, $event)"
                        ></v-text-field>
                      </template>
                    </v-range-slider>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>

            <v-card flat color="transparent">
              <v-subheader>M²</v-subheader>
              <v-card-text>
                <v-row>
                  <v-col class="px-4">
                    <v-range-slider
                      v-model="m2.range"
                      :max="m2.max"
                      :min="m2.min"
                      hide-details
                      class="align-center"
                    >
                      <template v-slot:prepend>
                        <v-text-field
                          :value="m2.range[0]"
                          class="mt-0 pt-0"
                          hide-details
                          single-line
                          type="number"
                          style="width: 60px"
                          @change="$set(m2.range, 0, $event)"
                        ></v-text-field>
                      </template>
                      <template v-slot:append>
                        <v-text-field
                          :value="m2.range[1]"
                          class="mt-0 pt-0"
                          hide-details
                          single-line
                          type="number"
                          style="width: 60px"
                          @change="$set(m2.range, 1, $event)"
                        ></v-text-field>
                      </template>
                    </v-range-slider>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>

            <v-card flat color="transparent">
              <v-subheader>Recámaras</v-subheader>
              <v-card-text>
                <v-row>
                  <v-col class="px-4">
                    <v-range-slider
                      v-model="recamaras.range"
                      :max="recamaras.max"
                      :min="recamaras.min"
                      hide-details
                      class="align-center"
                    >
                      <template v-slot:prepend>
                        <v-text-field
                          :value="recamaras.range[0]"
                          class="mt-0 pt-0"
                          hide-details
                          single-line
                          type="number"
                          style="width: 60px"
                          @change="$set(recamaras.range, 0, $event)"
                        ></v-text-field>
                      </template>
                      <template v-slot:append>
                        <v-text-field
                          :value="recamaras.range[1]"
                          class="mt-0 pt-0"
                          hide-details
                          single-line
                          type="number"
                          style="width: 60px"
                          @change="$set(recamaras.range, 1, $event)"
                        ></v-text-field>
                      </template>
                    </v-range-slider>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
            <b-form-select v-model="ubicacion.selected" :options="ubicacion.options"></b-form-select>
            <b-button type="submit" variant="primary">Buscar</b-button>
          </form>
        </b-tab>
      </b-tabs>
    </div>
  </div>
</template>

<script>
import { BasicSelect } from "vue-search-select";
export default {
  name: "filtrobusca",
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
    },
    submit() {
      this.$router.push(`/&{this.propriedades.options.selected}`);
    }
  },
  data() {
    return {
      foobar: null,
      propriedades: {
        selected: null,
        options: [
          { value: "apartamentos", text: "Apartamentos" },
          { value: "casas", text: "Casas" },
          { value: "edificios", text: "Edificios" },
          { value: "local-comercial", text: "Local Comercial" },
          { value: "oficinas", text: "Oficinas" },
          { value: "propriedades-de-playa", text: "Propriedades de Playa" },
          { value: "terreno", text: "Terreno" }
        ]
      },
      ubicacion: {
        selected: null,
        options: [
          { value: "panama-provincia", text: "Panamá Provincia" },
          { value: "panama-oeste", text: "Panama Oeste" },
          { value: "chirique", text: "Chirique Provincia" },
          { value: "cocle", text: "Cocle Provincia" },
          { value: "los-santos", text: "Los Santos Provincia" },
          { value: "colon", text: "Colón Provincia" }
        ]
      },
      precio: {
        min: 800,
        max: 1935900,
        slider: 800,
        range: [800, 1935900]
      },
      m2: {
        min: 50,
        max: 465000,
        slider: 50,
        range: [50, 465000]
      },
      recamaras: {
        min: 1,
        max: 4,
        slider: 1,
        range: [1, 4]
      }
    };
  },
  components: {
    BasicSelect
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
