<template>
  <div class="menu-principal">
    <b-nav pills>
      <a class="navbar-brand" href="/">VCBR</a>
      <b-nav-item to="/">Início</b-nav-item>
      <b-nav-item-dropdown
        id="my-nav-dropdown"
        text="Propriedades"
        toggle-class="nav-link-custom"
        right
      >
        <b-dropdown-item>
          <router-link to="/apartamentos">Apartamentos</router-link>
        </b-dropdown-item>
        <b-dropdown-item>
          <router-link to="/casas">Casas</router-link>
        </b-dropdown-item>
        <b-dropdown-item>
          <router-link to="/edificios">Edificios</router-link>
        </b-dropdown-item>
        <b-dropdown-item>
          <router-link to="/local-comercial">Local Comercial</router-link>
        </b-dropdown-item>
        <b-dropdown-item>
          <router-link to="/oficinas">Oficinas</router-link>
        </b-dropdown-item>
        <b-dropdown-item>
          <router-link to="/propriedades-de-playa">Propriedades de Playa</router-link>
        </b-dropdown-item>
        <b-dropdown-item>
          <router-link to="/terreno">Terreno</router-link>
        </b-dropdown-item>
        <b-dropdown-item>
          <router-link to="/contactos">Contactos</router-link>
        </b-dropdown-item>
        <b-dropdown-item>
          <router-link to="/nosotros">Nosotros</router-link>
        </b-dropdown-item>
        <b-dropdown-item>
          <router-link to="/servicios">Servicios</router-link>
        </b-dropdown-item>
      </b-nav-item-dropdown>
      <b-nav-item-dropdown
        id="my-nav-dropdown"
        text="Nosotros"
        toggle-class="nav-link-custom"
        right
      >
        <b-dropdown-item>
          <router-link to="/contactos">Contactos</router-link>
        </b-dropdown-item>
        <b-dropdown-item>
          <router-link to="/nosotros">Nosotros</router-link>
        </b-dropdown-item>
        <b-dropdown-item>
          <router-link to="/servicios">Servicios</router-link>
        </b-dropdown-item>
      </b-nav-item-dropdown>
      <b-nav-item to="/en">English</b-nav-item>
    </b-nav>
  </div>
</template>

<script>
export default {
  name: "MenuPrincipal"
};
</script>

<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
</style>
