<template>
  <div class="apartamento">
    <h1>Apartamentos</h1>
    <section class="produtos">
      <div v-for="apartamento in imoveis" :key="apartamento.id" class="apartamento">
        <div class="apartamento_info">
          <span class="apartamento_preco">{{apartamento.preco}}</span>
          <h2 class="apartamento_nome">{{apartamento.nome}}</h2>
          <p class="apartamento_localizacao">{{apartamento.localizacao}}</p>
          {{imoveis}}
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      imoveis: [],
      info: null
    };
  },
  methods: {
    fetchImoveis() {
      fetch("https://api.github.com/orgs/axios") //example of online api
        .then(response => response.json()) // one extra step
        .then(data => {
          this.imoveis.push(data);
        });
    }
  },
  created() {
    this.fetchImoveis();
  }
};
</script>
