<template>
  <div class="app">
    <menu-principal></menu-principal>
    <router-view></router-view>
  </div>
</template>
<script>
import MenuPrincipal from "./components/MenuPrincipal";
export default {
  name: "app",
  data() {
    return {
      imoveis: [],
      imovel: false,
      info: null
    };
  },
  components: {
    MenuPrincipal
  }
};
</script>
<style>
</style>